<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link th:href="@{/assets/css/styles.css}" rel="stylesheet">-->

</head>


<body>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-outline-success"  type="button"><a href="/findcar">Szukaj</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/showcars">Rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/reservation">Dodaj rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/delete">Usuń rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/contact">Kontakt</a></button>
    </form>
</nav>

<!--<div class="container align-content-center">-->
<!--<img src="/img/BMW-M4-3.jpg">-->
<!--</div>-->
<!--&lt;!&ndash;<div align="center">&ndash;&gt;-->
    <!--<br><br><br><br><br>-->
    <!--<p>Wybierz co chciałbyś zrobić:</p>-->

    <!--<form method="get" action="/delete">  -->
        <!--<button type="submit" >Delete</button>-->
    <!--</form>-->


    <!--&lt;!&ndash;<form method="get" action="/showcars">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" >Pokaż </button>&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->

    <!--<form method="get" action="/reservation">-->
        <!--<button type="submit" >Rezerwacja *</button>-->
    <!--</form>-->

    <!--<form method="get" action="/carsAvailable">-->
        <!--<button type="submit" >Dostępne</button>-->
    <!--</form>-->
<!--</div>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
