<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rezerwację</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet">

</head>






<body>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-outline-success"  type="button"><a href="/findcar">Szukaj</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/showcars">Rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/reservation">Dodaj rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/delete">Usuń rezerwację</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="/contact">Kontakt</a></button>
    </form>
</nav>


<table class="table" border="1">
    <thead class="thead-dark">
    <tr>
        <th>Nazwisko</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Skrzynia biegów</th>
        <th>Rodzaj nadwozia</th>
        <th>Rodzaj Paliwa</th>
        <th>Kolor</th>
        <!--<th>Dostępność</th>-->
        <!--<th>Cena za dzień</th>-->
        <th>Data</th>
    </tr>
    </thead>
    <th:block th:each="car : ${cars}">
        <tr>
            <th th:text="${car.surname}"></th>
            <th th:text="${car.brand}"></th>
            <th th:text="${car.model}"></th>
            <th th:text="${car.transmission}"></th>
            <th th:text="${car.body}"></th>
            <th th:text="${car.fuel}"></th>
            <th th:text="${car.color}"></th>
            <!--<th th:text="${car.isavailable}"></th>-->
            <!--<th th:text="${car.price}"></th>-->
            <th th:text="${car.date}"></th>
        </tr>
    </th:block>
</table>
</div>

<div>

    <form method="get" action="/reservation">
        <button type="submit" >Rezerwacja *</button>
    </form>


</div>




<style>
    table{
        border: 1px #0b2e13;
        font-size: large;
    }

</style>




</body>
</html>